# .github/workflows/eventcatalog.yml
name: Build EventCatalog

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22
      - run: npm run build
      - run: git config user.name "github-actions"
      - run: git config user.email "github-actions@github.com"
      - run: |
          git add docs
          git commit -m "Update EventCatalog" || exit 0
          git push
